<template>
  <footer class="page-footer blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Спасибо за участие !</h5>
          <p class="grey-text text-lighten-4">Ваши ответы помогают продвижению моего проекта.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="amber-text">Ссылки</h5>
          <ul>
            <li class="card-panel hoverable col l12">
              <a
                class="blue-text text-darken-4 scale-demo"
                href="https://vk.com/necrobutcher87"
              >Мой ВК</a>
            </li>
            <li class="card-panel hoverable col l12">
              <a
                class="blue-text text-darken-4 scale-demo"
                href="https://www.instagram.com/lugburz13/"
              >Мой Инстаграмм</a>
            </li>
            <li class>ivanignatenko28@gmail.com</li>
          </ul>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">©Ignatenko Ivan, 2020</div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: "Footer"
};
</script>